:root {
  --primary-color: #2563eb;
  --text-color: #0f172a;
  --text-color-white: #ffffff;
  --secondary-text-color: #6f7da1;
  --background-light: #ffffff;
  --background-dark: #0f172a;
  --border-color: #d5d8dc;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
.container {
  max-width: 1500px;
  margin: 0 auto;
  padding-inline: 1rem;
  /* background-color: #2563eb; */
}
/* Header */
header {
  background-color: var(--background-light);
  box-shadow: 0px 0px 10px #ccc;
  padding-block: 1rem;
  position: sticky;
  top: 0;
  z-index: 99;
}
.header-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .search,
nav {
  display: none;
}
.header-items .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--primary-color);
}
.header-items .search {
  position: relative;
}
.header-items .search input {
  width: 40rem;
  height: 45px;
  border-radius: 35px;
  border: 1px solid var(--border-color);
  outline: none;
  padding: 20px;
  color: var(--secondary-text-color);
  font-size: 15px;
}
.header-items .search .icon {
  position: absolute;
  left: 93.4%;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  padding: 8px;
  background-color: var(--primary-color);
  border-radius: 35px;
  color: var(--background-light);
  cursor: pointer;
}
.header-items .search .icon:hover {
  color: var(--border-color);
  transition: 5ms;
}
.header-items nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.header-items nav a {
  text-decoration: none;
  color: var(--text-color);
}
.header-items nav a:hover {
  color: var(--primary-color);
}
.header-items .actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.header-items .actions .icon-btn {
  position: relative;
  width: 24px;
  height: 24px;
  color: var(--secondary-text-color);
  cursor: pointer;
}
.header-items .actions .icon-btn .icon {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24px;
  transition: opacity 0.3s ease;
}

.header-items .actions .icon-btn .icon-a {
  opacity: 1;
}

.header-items .actions .icon-btn .icon-b {
  opacity: 0;
}

.header-items .actions .icon-btn:hover .icon-a {
  opacity: 0;
}

.header-items .actions .icon-btn:hover .icon-b {
  opacity: 1;
  color: var(--text-color);
}
.header-items .actions button {
  width: 100px;
  height: 35px;
  border-radius: 35px;
  background-color: var(--background-light);
  color: var(--text-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
}
.header-items .actions button:hover {
  transition: 200ms;
  color: var(--text-color-white);
  background-color: var(--primary-color);
}
/* Responsiveness */
@media (min-width: 650px) {
  header nav {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 950px) {
  header .search {
    /* width: 20rem; */
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
}
